In [1]:
# import sparse module from SciPy package
import scipy
from scipy import sparse

# import uniform module to create random numbers
from scipy.stats import uniform

# import NumPy
import numpy as np
import pandas as pd


%load_ext nb_black

#### 1. Jokester's Data
##### Anonymous rating data for jokes——jester-data-1.zip

In [2]:
## Read the data
df_joke = pd.read_excel(
    "/Users/yuchenwang/Desktop/YU/Fall22/Recommender System/Assignments/Assignment 2/jester-data-1.xls"
)

In [3]:
df_joke_copy = df_joke.copy()

In [4]:
df_joke.head()
## We noticed that there's no header of this dataset.

,74,-7.82,8.79,-9.66,-8.16,-7.52,-8.5,-9.85,4.17,-8.98,...,2.82.2,99.18,99.19,99.20,99.21,99.22,-5.63,99.23,99.24,99.25
0,100,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
1,49,99.00,99.00,99.00,99.00,9.03,9.27,9.03,9.27,99.00,...,99.00,99.00,99.00,9.08,99.00,99.00,99.00,99.00,99.00,99.00
2,48,99.00,8.35,99.00,99.00,1.80,8.16,-2.82,6.21,99.00,...,99.00,99.00,99.00,0.53,99.00,99.00,99.00,99.00,99.00,99.00
3,91,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60
4,100,-6.17,-3.54,0.44,-8.50,-7.09,-4.32,-8.69,-0.87,-6.65,...,-3.54,-6.89,-0.68,-2.96,-2.18,-3.35,0.05,-9.08,-5.05,-3.45

In [5]:
## Check the shape of this dataset.
df_joke.shape

(24982, 101)

In [6]:
## Add headers to this dataset
## Create the list of column
cols = list()

for x in range(len(df_joke.columns)):
    cols.append("Joke{}".format(x))
print(cols)

['Joke0', 'Joke1', 'Joke2', 'Joke3', 'Joke4', 'Joke5', 'Joke6', 'Joke7', 'Joke8', 'Joke9', 'Joke10', 'Joke11', 'Joke12', 'Joke13', 'Joke14', 'Joke15', 'Joke16', 'Joke17', 'Joke18', 'Joke19', 'Joke20', 'Joke21', 'Joke22', 'Joke23', 'Joke24', 'Joke25', 'Joke26', 'Joke27', 'Joke28', 'Joke29', 'Joke30', 'Joke31', 'Joke32', 'Joke33', 'Joke34', 'Joke35', 'Joke36', 'Joke37', 'Joke38', 'Joke39', 'Joke40', 'Joke41', 'Joke42', 'Joke43', 'Joke44', 'Joke45', 'Joke46', 'Joke47', 'Joke48', 'Joke49', 'Joke50', 'Joke51', 'Joke52', 'Joke53', 'Joke54', 'Joke55', 'Joke56', 'Joke57', 'Joke58', 'Joke59', 'Joke60', 'Joke61', 'Joke62', 'Joke63', 'Joke64', 'Joke65', 'Joke66', 'Joke67', 'Joke68', 'Joke69', 'Joke70', 'Joke71', 'Joke72', 'Joke73', 'Joke74', 'Joke75', 'Joke76', 'Joke77', 'Joke78', 'Joke79', 'Joke80', 'Joke81', 'Joke82', 'Joke83', 'Joke84', 'Joke85', 'Joke86', 'Joke87', 'Joke88', 'Joke89', 'Joke90', 'Joke91', 'Joke92', 'Joke93', 'Joke94', 'Joke95', 'Joke96', 'Joke97', 'Joke98', 'Joke99', 'Joke100']

In [7]:
## Read the data again, and add the headers
df_joke = pd.read_excel(
    "/Users/yuchenwang/Desktop/YU/Fall22/Recommender System/Assignments/Assignment 2/jester-data-1.xls",
    header=None,
)
df_joke.columns = cols
## Rename the first column
df_joke.rename(columns={"Joke0": "#_rating"}, inplace=True)

In [8]:
## Add a new column that can indicate each raters.
raters = list()
for x in range(df_joke.shape[0]):
    raters.append("Rater{}_with_rated_".format(x + 1))

df_joke["Raters"] = raters

In [9]:
## Check the data
df_joke.head()

,#_rating,Joke1,Joke2,Joke3,Joke4,Joke5,Joke6,Joke7,Joke8,Joke9,...,Joke92,Joke93,Joke94,Joke95,Joke96,Joke97,Joke98,Joke99,Joke100,Raters
0,74,-7.82,8.79,-9.66,-8.16,-7.52,-8.50,-9.85,4.17,-8.98,...,99.00,99.00,99.00,99.00,99.00,-5.63,99.00,99.00,99.00,Rater1_with_rated_
1,100,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,...,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07,Rater2_with_rated_
2,49,99.00,99.00,99.00,99.00,9.03,9.27,9.03,9.27,99.00,...,99.00,99.00,9.08,99.00,99.00,99.00,99.00,99.00,99.00,Rater3_with_rated_
3,48,99.00,8.35,99.00,99.00,1.80,8.16,-2.82,6.21,99.00,...,99.00,99.00,0.53,99.00,99.00,99.00,99.00,99.00,99.00,Rater4_with_rated_
4,91,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,...,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60,Rater5_with_rated_

In [10]:
## Combine the column Raters and the column #_rating, and then delete these two columns
df_joke["Raters_with_rating_number"] = df_joke["Raters"] + df_joke["#_rating"].astype(
    str
)
df_joke.drop(["#_rating", "Raters"], axis=1, inplace=True)
df_joke.head()

,Joke1,Joke2,Joke3,Joke4,Joke5,Joke6,Joke7,Joke8,Joke9,Joke10,...,Joke92,Joke93,Joke94,Joke95,Joke96,Joke97,Joke98,Joke99,Joke100,Raters_with_rating_number
0,-7.82,8.79,-9.66,-8.16,-7.52,-8.50,-9.85,4.17,-8.98,-4.76,...,99.00,99.00,99.00,99.00,99.00,-5.63,99.00,99.00,99.00,Rater1_with_rated_74
1,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,9.22,...,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07,Rater2_with_rated_100
2,99.00,99.00,99.00,99.00,9.03,9.27,9.03,9.27,99.00,99.00,...,99.00,99.00,9.08,99.00,99.00,99.00,99.00,99.00,99.00,Rater3_with_rated_49
3,99.00,8.35,99.00,99.00,1.80,8.16,-2.82,6.21,99.00,1.84,...,99.00,99.00,0.53,99.00,99.00,99.00,99.00,99.00,99.00,Rater4_with_rated_48
4,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,5.73,...,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60,Rater5_with_rated_91

In [11]:
df_joke.set_index(["Raters_with_rating_number"], inplace=True)
df_joke.head()

,Joke1,Joke2,Joke3,Joke4,Joke5,Joke6,Joke7,Joke8,Joke9,Joke10,...,Joke91,Joke92,Joke93,Joke94,Joke95,Joke96,Joke97,Joke98,Joke99,Joke100
Raters_with_rating_number,,,,,,,,,,,,,,,,,,,,,
Rater1_with_rated_74,-7.82,8.79,-9.66,-8.16,-7.52,-8.50,-9.85,4.17,-8.98,-4.76,...,2.82,99.00,99.00,99.00,99.00,99.00,-5.63,99.00,99.00,99.00
Rater2_with_rated_100,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,9.22,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
Rater3_with_rated_49,99.00,99.00,99.00,99.00,9.03,9.27,9.03,9.27,99.00,99.00,...,99.00,99.00,99.00,9.08,99.00,99.00,99.00,99.00,99.00,99.00
Rater4_with_rated_48,99.00,8.35,99.00,99.00,1.80,8.16,-2.82,6.21,99.00,1.84,...,99.00,99.00,99.00,0.53,99.00,99.00,99.00,99.00,99.00,99.00
Rater5_with_rated_91,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,5.73,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60

In [12]:
## 99 in dataset means missing value, let's convert them into np.nan
df_joke.replace(99, np.NaN, inplace=True)

In [13]:
## Create a CSC sparse matrix
df_joke_csc = sparse.csc_matrix(df_joke)
print(df_joke_csc)

  (0, 0)	-7.82
  (1, 0)	4.08
  (2, 0)	nan
  (3, 0)	nan
  (4, 0)	8.5
  (5, 0)	-6.17
  (6, 0)	nan
  (7, 0)	6.84
  (8, 0)	-3.79
  (9, 0)	3.01
  (10, 0)	-2.91
  (11, 0)	1.31
  (12, 0)	nan
  (13, 0)	9.22
  (14, 0)	8.79
  (15, 0)	-3.5
  (16, 0)	nan
  (17, 0)	3.16
  (18, 0)	4.22
  (19, 0)	nan
  (20, 0)	2.57
  (21, 0)	7.28
  (22, 0)	2.72
  (23, 0)	2.09
  (24, 0)	-3.93
  :	:
  (24958, 99)	-1.8
  (24959, 99)	nan
  (24960, 99)	nan
  (24961, 99)	nan
  (24962, 99)	-6.36
  (24963, 99)	nan
  (24964, 99)	nan
  (24965, 99)	nan
  (24966, 99)	8.5
  (24967, 99)	-0.68
  (24968, 99)	nan
  (24969, 99)	nan
  (24970, 99)	nan
  (24971, 99)	4.37
  (24972, 99)	nan
  (24973, 99)	nan
  (24974, 99)	nan
  (24975, 99)	nan
  (24976, 99)	9.27
  (24977, 99)	nan
  (24978, 99)	7.43
  (24979, 99)	8.45
  (24980, 99)	nan
  (24981, 99)	nan
  (24982, 99)	nan

In [14]:
df_joke_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24982 entries, 0 to 24981
Columns: 101 entries, 74 to 99.25
dtypes: float64(100), int64(1)
memory usage: 19.3 MB

In [15]:
df_joke_size = df_joke_csc.data.size / (1024 ** 2)
print("Size of sparse csr_matrix: " + "%3.2f" % df_joke_size + " MB")

Size of sparse csr_matrix: 2.38 MB

* We can noticed that the store size decrease significantly.

#### 2. MovieLens

In [16]:
## Read the data
scores = pd.read_csv("/Users/yuchenwang/Downloads/ml-latest/genome-scores.csv")
g_tags = pd.read_csv("/Users/yuchenwang/Downloads/ml-latest/genome-tags.csv")
links = pd.read_csv("/Users/yuchenwang/Downloads/ml-latest/links.csv")
movies = pd.read_csv("/Users/yuchenwang/Downloads/ml-latest/movies.csv")
ratings = pd.read_csv("/Users/yuchenwang/Downloads/ml-latest/ratings.csv")
tags = pd.read_csv("/Users/yuchenwang/Downloads/ml-latest/tags.csv")

In [17]:
## Since the imdb id and tmdb id are the unique number of a movie,
## so I think we should start with links table
## Check the links table
links.shape

(58098, 3)

In [18]:
links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58098 entries, 0 to 58097
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  58098 non-null  int64
 1   imdbId   58098 non-null  int64
 2   tmdbId   57917 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 1.3 MB

In [19]:
links.isna().sum()

movieId      0
imdbId       0
tmdbId     181
dtype: int64

In [20]:
## Return the all rows that contain missing values.
links[links["tmdbId"].isna()]

       movieId   imdbId  tmdbId
709        721   114103     NaN
718        730   125877     NaN
756        769   116992     NaN
757        770    38426     NaN
778        791   113610     NaN
...        ...      ...     ...
24855   114963   322250     NaN
25029   115715  3670792     NaN
25057   115821  3900116     NaN
29740   128734  4438688     NaN
37905   148093  4006044     NaN

[181 rows x 3 columns]

In [21]:
links["movieId"].nunique()

58098

In [22]:
links["imdbId"].nunique()

58098

* Each movie id has a unique corresponding imdbId, even though some movie don't have tmdbId.

In [23]:
## Check movies table now
movies.isna().sum()

movieId    0
title      0
genres     0
dtype: int64

* No null value, good news.

In [24]:
## Check the unique number of movieId in movies
movies["movieId"].nunique()

58098

In [25]:
movies.shape

(58098, 3)

In [26]:
if_include0 = movies["movieId"].isin(links["movieId"])
if_include0.unique()

array([ True])

* Now we can be sure that the movieId in the movies are all included in movieId in the links table.

In [27]:
## Combine links table and movies table
all_movies = pd.merge(links, movies, how="left", on=["movieId"])
all_movies.head()

,movieId,imdbId,tmdbId,title,genres
0,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,113497,8844.0,Jumanji (1995),Adventure|Children|Fantasy
2,3,113228,15602.0,Grumpier Old Men (1995),Comedy|Romance
3,4,114885,31357.0,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,113041,11862.0,Father of the Bride Part II (1995),Comedy

In [28]:
## Check ratings and tags table we want to combine these two tables.
ratings.isna().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [29]:
tags.isna().sum()

userId        0
movieId       0
tag          16
timestamp     0
dtype: int64

In [30]:
if_include1 = tags["userId"].isin(ratings["userId"])
if_include1.unique()

array([ True])

In [31]:
if_include2 = tags["movieId"].isin(ratings["movieId"])
if_include2.unique()

array([ True, False])

* We can notice that all tags users are included in ratings' user, but not every tags ' movie are included in ratings' movie
* So we need to use outer join these two tables.

In [32]:
rating_tag = pd.merge(ratings, tags, how="outer", on=["userId", "movieId"])
rating_tag.head()

   userId  movieId  rating   timestamp_x  tag  timestamp_y
0       1      307     3.5  1.256677e+09  NaN          NaN
1       1      481     3.5  1.256677e+09  NaN          NaN
2       1     1091     1.5  1.256677e+09  NaN          NaN
3       1     1257     4.5  1.256677e+09  NaN          NaN
4       1     1449     4.5  1.256677e+09  NaN          NaN

In [33]:
rating_tag.shape

(28642001, 6)

In [34]:
rating_tag.isna().sum()

userId                0
movieId               0
rating           278505
timestamp_x      278505
tag            27533020
timestamp_y    27533004
dtype: int64

* Fill out the value from timestamp_y to timestamp_x column.
* Because there is no null value in timestamp column in both original tables (ratings and tags), So we can replace all the null values in the timestamp_x column with the value in the timestamp_y column.

In [35]:
rating_tag.loc[rating_tag["timestamp_x"].isnull(), "timestamp_x"] = rating_tag.loc[
    rating_tag["timestamp_x"].isnull(), "timestamp_y"
]
rating_tag.drop(["timestamp_y"], axis=1, inplace=True)
rating_tag.rename(columns={"timestamp_x": "timestamp"}, inplace=True)
rating_tag.head()

   userId  movieId  rating     timestamp  tag
0       1      307     3.5  1.256677e+09  NaN
1       1      481     3.5  1.256677e+09  NaN
2       1     1091     1.5  1.256677e+09  NaN
3       1     1257     4.5  1.256677e+09  NaN
4       1     1449     4.5  1.256677e+09  NaN

In [36]:
rating_tag.isna().sum()

userId              0
movieId             0
rating         278505
timestamp           0
tag          27533020
dtype: int64

* No null value in the column timestamp now.

In [37]:
## Check scores and g_tags tables, combine them.
scores.isna().sum()

movieId      0
tagId        0
relevance    0
dtype: int64

In [38]:
g_tags.isna().sum()

tagId    0
tag      0
dtype: int64

In [39]:
scores["tagId"].nunique()

1128

In [40]:
g_tags["tagId"].nunique()

1128

In [41]:
if_include3 = scores["tagId"].isin(g_tags["tagId"])
if_include3.unique()

array([ True])

* Good, all tagId in scores are included in g_tags' table.

In [42]:
## Let's combine them.
tag_Id_name = pd.merge(scores, g_tags, how="inner", on=["tagId"])
tag_Id_name.head()

   movieId  tagId  relevance  tag
0        1      1    0.02900  007
1        2      1    0.03625  007
2        3      1    0.04150  007
3        4      1    0.03350  007
4        5      1    0.04050  007

In [43]:
tag_Id_name.isna().sum()

movieId      0
tagId        0
relevance    0
tag          0
dtype: int64

#### Now, let's review the three combined tables.

In [44]:
all_movies.head()

,movieId,imdbId,tmdbId,title,genres
0,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,113497,8844.0,Jumanji (1995),Adventure|Children|Fantasy
2,3,113228,15602.0,Grumpier Old Men (1995),Comedy|Romance
3,4,114885,31357.0,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,113041,11862.0,Father of the Bride Part II (1995),Comedy

In [45]:
all_movies.shape

(58098, 5)

In [46]:
rating_tag.head()

   userId  movieId  rating     timestamp  tag
0       1      307     3.5  1.256677e+09  NaN
1       1      481     3.5  1.256677e+09  NaN
2       1     1091     1.5  1.256677e+09  NaN
3       1     1257     4.5  1.256677e+09  NaN
4       1     1449     4.5  1.256677e+09  NaN

In [47]:
rating_tag.shape

(28642001, 5)

In [48]:
tag_Id_name.head()

   movieId  tagId  relevance  tag
0        1      1    0.02900  007
1        2      1    0.03625  007
2        3      1    0.04150  007
3        4      1    0.03350  007
4        5      1    0.04050  007

In [49]:
tag_Id_name.shape

(14862528, 4)

* Now we want to combine the above three tables.

In [50]:
if_include4 = rating_tag["movieId"].isin(tag_Id_name["movieId"])
if_include4.unique()

array([ True, False])

* tag_Id_name's movieId does not completely contain rating_tag's movieId, so use outer to join.

In [51]:
# df = pd.merge(tag_Id_name, rating_tag, how="outer", on=["movieId"])
# df.head()
## When I was trying to run this cell, python showed me hung kernel.
## So, after that I searched on the webiste, someone suggested to use Pyspark.

* Spend a long time to figure out how to build environment of pyspark........

In [52]:
## Install pyspark
!pip install pyspark
import pyspark

Requirement already satisfied: pyspark in /Users/yuchenwang/opt/anaconda3/lib/python3.9/site-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /Users/yuchenwang/opt/anaconda3/lib/python3.9/site-packages (from pyspark) (0.10.9.5)

In [53]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("pandas to spark").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/09/12 16:18:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

#### Convert pandas dataframe into spark dataframe

* I can use below function to convert pandas df to pyspark df, but it may kill python (got some warnings from python)

In [54]:
## all_movies_spark = spark.createDataFrame(all_movies)

In [55]:
## all_movies_spark.show()

In [56]:
## type(all_movies_spark)

* So, I will export the data first, and read them with pyspark directly, it will faster.

In [57]:
all_movies.to_csv(
    "/Users/yuchenwang/Desktop/YU/Fall22/Recommender System/Assignments/Assignment 2/all_movies.csv",
    index=False,
)

In [58]:
all_movies_spark = spark.read.option("header", "true").csv(
    "/Users/yuchenwang/Desktop/YU/Fall22/Recommender System/Assignments/Assignment 2/all_movies.csv"
)
all_movies_spark.show()

+-------+------+-------+--------------------+--------------------+
|movieId|imdbId| tmdbId|               title|              genres|
+-------+------+-------+--------------------+--------------------+
|      1|114709|  862.0|    Toy Story (1995)|Adventure|Animati...|
|      2|113497| 8844.0|      Jumanji (1995)|Adventure|Childre...|
|      3|113228|15602.0|Grumpier Old Men ...|      Comedy|Romance|
|      4|114885|31357.0|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|113041|11862.0|Father of the Bri...|              Comedy|
|      6|113277|  949.0|         Heat (1995)|Action|Crime|Thri...|
|      7|114319|11860.0|      Sabrina (1995)|      Comedy|Romance|
|      8|112302|45325.0| Tom and Huck (1995)|  Adventure|Children|
|      9|114576| 9091.0| Sudden Death (1995)|              Action|
|     10|113189|  710.0|    GoldenEye (1995)|Action|Adventure|...|
|     11|112346| 9087.0|American Presiden...|Comedy|Drama|Romance|
|     12|112896|12110.0|Dracula: Dead and...|       Comedy|Horror|
|     13|112453|21032.0|        Balto (1995)|Adventure|Animati...|
|     14|113987|10858.0|        Nixon (1995)|               Drama|
|     15|112760| 1408.0|Cutthroat Island ...|Action|Adventure|...|
|     16|112641|  524.0|       Casino (1995)|         Crime|Drama|
|     17|114388| 4584.0|Sense and Sensibi...|       Drama|Romance|
|     18|113101|    5.0|   Four Rooms (1995)|              Comedy|
|     19|112281| 9273.0|Ace Ventura: When...|              Comedy|
|     20|113845|11517.0|  Money Train (1995)|Action|Comedy|Cri...|
+-------+------+-------+--------------------+--------------------+
only showing top 20 rows

In [59]:
type(all_movies_spark)

pyspark.sql.dataframe.DataFrame

* I also tried to convert rating_tag into pyspark df directly, but I failed.

In [60]:
## rating_tag["timestamp"] = rating_tag["timestamp"].astype("int64")

In [61]:
##from pyspark.sql.types import *

##mySchema = StructType(
# [
# StructField("userId", IntegerType(), True),
# StructField("movieId", IntegerType(), True),
# StructField("rating", FloatType(), True),
# StructField("timestamp", IntegerType(), True),
# StructField("tag", StringType(), True),
# ]
# )

In [62]:
##rating_tag_spark = spark.createDataFrame(rating_tag, schema=mySchema)

* So, again, export and import..

In [63]:
rating_tag.to_csv(
    "/Users/yuchenwang/Desktop/YU/Fall22/Recommender System/Assignments/Assignment 2/rating_tag.csv",
    index=False,
)

In [64]:
rating_tag_spark = spark.read.option("header", "true").csv(
    "/Users/yuchenwang/Desktop/YU/Fall22/Recommender System/Assignments/Assignment 2/rating_tag.csv"
)

In [65]:
rating_tag_spark.show()

+------+-------+------+------------+----+
|userId|movieId|rating|   timestamp| tag|
+------+-------+------+------------+----+
|     1|    307|   3.5|1256677221.0|null|
|     1|    481|   3.5|1256677456.0|null|
|     1|   1091|   1.5|1256677471.0|null|
|     1|   1257|   4.5|1256677460.0|null|
|     1|   1449|   4.5|1256677264.0|null|
|     1|   1590|   2.5|1256677236.0|null|
|     1|   1591|   1.5|1256677475.0|null|
|     1|   2134|   4.5|1256677464.0|null|
|     1|   2478|   4.0|1256677239.0|null|
|     1|   2840|   3.0|1256677500.0|null|
|     1|   2986|   2.5|1256677496.0|null|
|     1|   3020|   4.0|1256677260.0|null|
|     1|   3424|   4.5|1256677444.0|null|
|     1|   3698|   3.5|1256677243.0|null|
|     1|   3826|   2.0|1256677210.0|null|
|     1|   3893|   3.5|1256677486.0|null|
|     2|    170|   3.5|1192913581.0|null|
|     2|    849|   3.5|1192913537.0|null|
|     2|   1186|   3.5|1192913611.0|null|
|     2|   1235|   3.0|1192913585.0|null|
+------+-------+------+------------+----+
only showing top 20 rows

In [66]:
type(rating_tag_spark)

pyspark.sql.dataframe.DataFrame

* Do the same on tag_Id_name.

In [67]:
tag_Id_name.to_csv(
    "/Users/yuchenwang/Desktop/YU/Fall22/Recommender System/Assignments/Assignment 2/tag_Id_name.csv",
    index=False,
)

In [68]:
tag_Id_name_spark = spark.read.option("header", "true").csv(
    "/Users/yuchenwang/Desktop/YU/Fall22/Recommender System/Assignments/Assignment 2/tag_Id_name.csv"
)

In [69]:
tag_Id_name_spark.show()

+-------+-----+------------------+---+
|movieId|tagId|         relevance|tag|
+-------+-----+------------------+---+
|      1|    1|             0.029|007|
|      2|    1|           0.03625|007|
|      3|    1|0.0414999999999999|007|
|      4|    1|0.0334999999999999|007|
|      5|    1|0.0404999999999999|007|
|      6|    1|0.0292499999999999|007|
|      7|    1|           0.04775|007|
|      8|    1|           0.03125|007|
|      9|    1|           0.03225|007|
|     10|    1|            0.9995|007|
|     11|    1|0.0349999999999999|007|
|     12|    1|           0.03575|007|
|     13|    1|             0.024|007|
|     14|    1|0.0237499999999999|007|
|     15|    1|           0.04325|007|
|     16|    1|0.0324999999999999|007|
|     17|    1|            0.0275|007|
|     18|    1|           0.03175|007|
|     19|    1|           0.03675|007|
|     20|    1|           0.04325|007|
+-------+-----+------------------+---+
only showing top 20 rows

In [70]:
type(tag_Id_name_spark)

pyspark.sql.dataframe.DataFrame

##### Now, combine them..

In [71]:
df1 = tag_Id_name_spark.join(rating_tag_spark, on=["movieId", "tag"], how="outer")

In [72]:
df1.show()

+-------+--------------------+-----+------------------+------+------+------------+
|movieId|                 tag|tagId|         relevance|userId|rating|   timestamp|
+-------+--------------------+-----+------------------+------+------+------------+
|      1|TÃ©a Leoni does n...| null|              null|152473|   4.0|1038421883.0|
|      1|               Woody| null|              null| 43907|   5.0|1042612428.0|
|      1|              absurd|   18|           0.09725|  null|  null|        null|
|      1|          adaptation|   21|0.3572499999999999|  null|  null|        null|
|      1|          alcoholism|   42|0.0394999999999999|  null|  null|        null|
|      1|              aliens|   45|0.2254999999999999|  null|  null|        null|
|      1|           alter ego|   49|0.3129999999999999|  null|  null|        null|
|      1|       anti-semitism|   68|           0.03325|  null|  null|        null|
|      1|           australia|   87|           0.03325|  null|  null|        null|
|      1|          bad acting|   97|            0.0825|  null|  null|        null|
|      1| based on true story|  115|0.2027499999999999|  null|  null|        null|
|      1|      best war films|  127|0.0454999999999999|  null|  null|        null|
|      1|               books|  154|           0.20375|  null|  null|        null|
|      1|                 boy| null|              null| 73406|   4.0|1288129065.0|
|      1|    carrie-anne moss|  184|0.0349999999999999|  null|  null|        null|
|      1|               china|  205|             0.011|  null|  null|        null|
|      1|       coen brothers|  225|0.0077499999999999|  null|  null|        null|
|      1|  complex characters|  241|           0.05025|  null|  null|        null|
|      1|   corporate america|  257|0.0277499999999999|  null|  null|        null|
|      1|           cult film|  276|           0.21925|  null|  null|        null|
+-------+--------------------+-----+------------------+------+------+------------+
only showing top 20 rows

In [73]:
all_movies_spark.show()

+-------+------+-------+--------------------+--------------------+
|movieId|imdbId| tmdbId|               title|              genres|
+-------+------+-------+--------------------+--------------------+
|      1|114709|  862.0|    Toy Story (1995)|Adventure|Animati...|
|      2|113497| 8844.0|      Jumanji (1995)|Adventure|Childre...|
|      3|113228|15602.0|Grumpier Old Men ...|      Comedy|Romance|
|      4|114885|31357.0|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|113041|11862.0|Father of the Bri...|              Comedy|
|      6|113277|  949.0|         Heat (1995)|Action|Crime|Thri...|
|      7|114319|11860.0|      Sabrina (1995)|      Comedy|Romance|
|      8|112302|45325.0| Tom and Huck (1995)|  Adventure|Children|
|      9|114576| 9091.0| Sudden Death (1995)|              Action|
|     10|113189|  710.0|    GoldenEye (1995)|Action|Adventure|...|
|     11|112346| 9087.0|American Presiden...|Comedy|Drama|Romance|
|     12|112896|12110.0|Dracula: Dead and...|       Comedy|Horror|
|     13|112453|21032.0|        Balto (1995)|Adventure|Animati...|
|     14|113987|10858.0|        Nixon (1995)|               Drama|
|     15|112760| 1408.0|Cutthroat Island ...|Action|Adventure|...|
|     16|112641|  524.0|       Casino (1995)|         Crime|Drama|
|     17|114388| 4584.0|Sense and Sensibi...|       Drama|Romance|
|     18|113101|    5.0|   Four Rooms (1995)|              Comedy|
|     19|112281| 9273.0|Ace Ventura: When...|              Comedy|
|     20|113845|11517.0|  Money Train (1995)|Action|Comedy|Cri...|
+-------+------+-------+--------------------+--------------------+
only showing top 20 rows

In [74]:
## Final combination
df_final = all_movies_spark.join(df1, on=["movieId"], how="inner")

In [75]:
df_final.show()

+-------+------+------+----------------+--------------------+--------------------+-----+------------------+------+------+------------+
|movieId|imdbId|tmdbId|           title|              genres|                 tag|tagId|         relevance|userId|rating|   timestamp|
+-------+------+------+----------------+--------------------+--------------------+-----+------------------+------+------+------------+
|      1|114709| 862.0|Toy Story (1995)|Adventure|Animati...|TÃ©a Leoni does n...| null|              null|152473|   4.0|1038421883.0|
|      1|114709| 862.0|Toy Story (1995)|Adventure|Animati...|               Woody| null|              null| 43907|   5.0|1042612428.0|
|      1|114709| 862.0|Toy Story (1995)|Adventure|Animati...|              absurd|   18|           0.09725|  null|  null|        null|
|      1|114709| 862.0|Toy Story (1995)|Adventure|Animati...|          adaptation|   21|0.3572499999999999|  null|  null|        null|
|      1|114709| 862.0|Toy Story (1995)|Adventure|Animati...|          alcoholism|   42|0.0394999999999999|  null|  null|        null|
|      1|114709| 862.0|Toy Story (1995)|Adventure|Animati...|              aliens|   45|0.2254999999999999|  null|  null|        null|
|      1|114709| 862.0|Toy Story (1995)|Adventure|Animati...|           alter ego|   49|0.3129999999999999|  null|  null|        null|
|      1|114709| 862.0|Toy Story (1995)|Adventure|Animati...|       anti-semitism|   68|           0.03325|  null|  null|        null|
|      1|114709| 862.0|Toy Story (1995)|Adventure|Animati...|           australia|   87|           0.03325|  null|  null|        null|
|      1|114709| 862.0|Toy Story (1995)|Adventure|Animati...|          bad acting|   97|            0.0825|  null|  null|        null|
|      1|114709| 862.0|Toy Story (1995)|Adventure|Animati...| based on true story|  115|0.2027499999999999|  null|  null|        null|
|      1|114709| 862.0|Toy Story (1995)|Adventure|Animati...|      best war films|  127|0.0454999999999999|  null|  null|        null|
|      1|114709| 862.0|Toy Story (1995)|Adventure|Animati...|               books|  154|           0.20375|  null|  null|        null|
|      1|114709| 862.0|Toy Story (1995)|Adventure|Animati...|                 boy| null|              null| 73406|   4.0|1288129065.0|
|      1|114709| 862.0|Toy Story (1995)|Adventure|Animati...|    carrie-anne moss|  184|0.0349999999999999|  null|  null|        null|
|      1|114709| 862.0|Toy Story (1995)|Adventure|Animati...|               china|  205|             0.011|  null|  null|        null|
|      1|114709| 862.0|Toy Story (1995)|Adventure|Animati...|       coen brothers|  225|0.0077499999999999|  null|  null|        null|
|      1|114709| 862.0|Toy Story (1995)|Adventure|Animati...|  complex characters|  241|           0.05025|  null|  null|        null|
|      1|114709| 862.0|Toy Story (1995)|Adventure|Animati...|   corporate america|  257|0.0277499999999999|  null|  null|        null|
|      1|114709| 862.0|Toy Story (1995)|Adventure|Animati...|           cult film|  276|           0.21925|  null|  null|        null|
+-------+------+------+----------------+--------------------+--------------------+-----+------------------+------+------+------------+
only showing top 20 rows

In [76]:
print((df_final.count(), len(df_final.columns)))

(43409941, 11)

In [77]:
df_final.printSchema()

root
 |-- movieId: string (nullable = true)
 |-- imdbId: string (nullable = true)
 |-- tmdbId: string (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)
 |-- tag: string (nullable = true)
 |-- tagId: string (nullable = true)
 |-- relevance: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- timestamp: string (nullable = true)

* I have no idea why the dtype are all string, but let's convert them into appropriate dtype.

In [78]:
from pyspark.sql.types import StringType, DateType, FloatType, IntegerType

In [79]:
df_final1 = (
    df_final.withColumn("movieId", df_final["movieId"].cast(IntegerType()))
    .withColumn("imdbId", df_final["imdbId"].cast(IntegerType()))
    .withColumn("tmdbId", df_final["tmdbId"].cast(IntegerType()))
    .withColumn("tagId", df_final["tagId"].cast(IntegerType()))
    .withColumn("relevance", df_final["relevance"].cast(FloatType()))
    .withColumn("userId", df_final["userId"].cast(IntegerType()))
    .withColumn("rating", df_final["rating"].cast(FloatType()))
    .withColumn("timestamp", df_final["timestamp"].cast(IntegerType()))
)

In [80]:
df_final1.printSchema()

root
 |-- movieId: integer (nullable = true)
 |-- imdbId: integer (nullable = true)
 |-- tmdbId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)
 |-- tag: string (nullable = true)
 |-- tagId: integer (nullable = true)
 |-- relevance: float (nullable = true)
 |-- userId: integer (nullable = true)
 |-- rating: float (nullable = true)
 |-- timestamp: integer (nullable = true)

* I was going to convert string type to the array via a split function in pyspark and then convert the whole data frame into the sparse matrix but failed.

In [81]:
## from pyspark.sql.functions import split, col

In [82]:
##df_final_2 = (
##  df_final1.select(split(col("title"), "\s+").alias("title_array"))
##  .drop("title")
##  .select(split(col("genres"), "\s+").alias("genres_array"))
##  .drop("genres")
##  .select(split(col("tag"), "\s+").alias("tag_array"))
##  .drop("tag")
##)

* So here, I'm trying to select only numeric columns, and see if I can convert them to a sparse matrix

In [83]:
df_final_numeric = df_final1.select(
    "movieId", "imdbId", "tmdbId", "tagId", "relevance", "userId", "rating", "timestamp"
)

In [84]:
df_final_numeric.show()

+-------+------+------+-----+---------+------+------+----------+
|movieId|imdbId|tmdbId|tagId|relevance|userId|rating| timestamp|
+-------+------+------+-----+---------+------+------+----------+
|      1|114709|   862| null|     null|152473|   4.0|1038421883|
|      1|114709|   862| null|     null| 43907|   5.0|1042612428|
|      1|114709|   862|   18|  0.09725|  null|  null|      null|
|      1|114709|   862|   21|  0.35725|  null|  null|      null|
|      1|114709|   862|   42|   0.0395|  null|  null|      null|
|      1|114709|   862|   45|   0.2255|  null|  null|      null|
|      1|114709|   862|   49|    0.313|  null|  null|      null|
|      1|114709|   862|   68|  0.03325|  null|  null|      null|
|      1|114709|   862|   87|  0.03325|  null|  null|      null|
|      1|114709|   862|   97|   0.0825|  null|  null|      null|
|      1|114709|   862|  115|  0.20275|  null|  null|      null|
|      1|114709|   862|  127|   0.0455|  null|  null|      null|
|      1|114709|   862|  154|  0.20375|  null|  null|      null|
|      1|114709|   862| null|     null| 73406|   4.0|1288129065|
|      1|114709|   862|  184|    0.035|  null|  null|      null|
|      1|114709|   862|  205|    0.011|  null|  null|      null|
|      1|114709|   862|  225|  0.00775|  null|  null|      null|
|      1|114709|   862|  241|  0.05025|  null|  null|      null|
|      1|114709|   862|  257|  0.02775|  null|  null|      null|
|      1|114709|   862|  276|  0.21925|  null|  null|      null|
+-------+------+------+-----+---------+------+------+----------+
only showing top 20 rows

In [85]:
type(df_final_numeric)

pyspark.sql.dataframe.DataFrame

In [86]:
df_final_numeric.printSchema()

root
 |-- movieId: integer (nullable = true)
 |-- imdbId: integer (nullable = true)
 |-- tmdbId: integer (nullable = true)
 |-- tagId: integer (nullable = true)
 |-- relevance: float (nullable = true)
 |-- userId: integer (nullable = true)
 |-- rating: float (nullable = true)
 |-- timestamp: integer (nullable = true)

* So here, I'm trying to select only numeric columns, and see if I can convert them to a sparse matrix
-- The answer is no, I can't.

#### 3. My own dataset.

In [87]:
## Read the data
My_df = pd.read_csv(
    "/Users/yuchenwang/Desktop/YU/Fall22/Recommender System/Assignments/Assignment 1/Liquid Foundation questionnaire.csv"
)
My_df

  Critics  Mac  Estee Lauder  Bobbi brown  SUQQU  YSL  Chanel  Dior  LANCÔME
0   Allen  NaN           3.0          NaN    3.0  4.0     NaN   NaN      4.0
1   Sohee  3.0           4.0          5.0    5.0  4.0     4.0   4.0      5.0
2    Didi  4.0           5.0          NaN    NaN  5.0     5.0   NaN      5.0
3    Shao  3.0           NaN          3.0    NaN  NaN     NaN   5.0      NaN
4  Gloria  3.0           3.0          4.0    4.0  4.0     5.0   5.0      NaN
5   Grace  NaN           NaN          NaN    NaN  NaN     NaN   NaN      3.0
6  Sophie  2.0           4.0          NaN    NaN  5.0     5.0   NaN      NaN
7     Pan  NaN           3.0          4.0    4.0  NaN     4.0   5.0      5.0
8   Molly  5.0           4.0          3.0    2.0  NaN     NaN   NaN      2.0
9    Keer  4.0           3.0          4.0    4.0  5.0     5.0   NaN      NaN

In [88]:
## Reset the index of this pandas dataframe
My_df.set_index(["Critics"], inplace=True)
## Check the data again
My_df

         Mac  Estee Lauder  Bobbi brown  SUQQU  YSL  Chanel  Dior  LANCÔME
Critics
Allen    NaN           3.0          NaN    3.0  4.0     NaN   NaN      4.0
Sohee    3.0           4.0          5.0    5.0  4.0     4.0   4.0      5.0
Didi     4.0           5.0          NaN    NaN  5.0     5.0   NaN      5.0
Shao     3.0           NaN          3.0    NaN  NaN     NaN   5.0      NaN
Gloria   3.0           3.0          4.0    4.0  4.0     5.0   5.0      NaN
Grace    NaN           NaN          NaN    NaN  NaN     NaN   NaN      3.0
Sophie   2.0           4.0          NaN    NaN  5.0     5.0   NaN      NaN
Pan      NaN           3.0          4.0    4.0  NaN     4.0   5.0      5.0
Molly    5.0           4.0          3.0    2.0  NaN     NaN   NaN      2.0
Keer     4.0           3.0          4.0    4.0  5.0     5.0   NaN      NaN

In [89]:
## Create a CSR sparse matrix
My_df_csr = sparse.csr_matrix(My_df)
print(My_df_csr)

  (0, 0)	nan
  (0, 1)	3.0
  (0, 2)	nan
  (0, 3)	3.0
  (0, 4)	4.0
  (0, 5)	nan
  (0, 6)	nan
  (0, 7)	4.0
  (1, 0)	3.0
  (1, 1)	4.0
  (1, 2)	5.0
  (1, 3)	5.0
  (1, 4)	4.0
  (1, 5)	4.0
  (1, 6)	4.0
  (1, 7)	5.0
  (2, 0)	4.0
  (2, 1)	5.0
  (2, 2)	nan
  (2, 3)	nan
  (2, 4)	5.0
  (2, 5)	5.0
  (2, 6)	nan
  (2, 7)	5.0
  (3, 0)	3.0
  :	:
  (6, 7)	nan
  (7, 0)	nan
  (7, 1)	3.0
  (7, 2)	4.0
  (7, 3)	4.0
  (7, 4)	nan
  (7, 5)	4.0
  (7, 6)	5.0
  (7, 7)	5.0
  (8, 0)	5.0
  (8, 1)	4.0
  (8, 2)	3.0
  (8, 3)	2.0
  (8, 4)	nan
  (8, 5)	nan
  (8, 6)	nan
  (8, 7)	2.0
  (9, 0)	4.0
  (9, 1)	3.0
  (9, 2)	4.0
  (9, 3)	4.0
  (9, 4)	5.0
  (9, 5)	5.0
  (9, 6)	nan
  (9, 7)	nan

#### 4. Another Rec_Sys dataset.

In [90]:
## Not finished